<h2>Character List</h2>
{{error}}
<a class="btn btn-info" href="#/character" style="float: right;">Add a new character</a>
<table class="table">
  <thead>
    <tr>
        <th>Name</th>
        <th>Season</th>
        <th>Chapter</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
</thead>
  <tbody>
    <tr ng-repeat="c in characters | orderBy : 'Name'">
      <td>{{ c.Name }}</td>
      <td>{{ c.Season }}</td>
      <td>{{ c.Chapter }}</td>
      <td><a class="btn btn-info" href="#/character/{{c.Id}}">Edit</a></td>
      <td><button type="button" class="btn btn-info" ng-click="deleteCharacter(c.Id)">Delete</a></td>
    </tr>
  </tbody>
</table>
