<h5>character Detail View</h5>
<form name="characterForm">
<div>
  <dl>
    <dt>Name:</dt>
<!--    <dd>{{character.Name}}</dd>-->
    <dd><input type="text" name="input" ng-model="character.Name" ng-pattern="example.word" required ng-trim="false"></dd>
    <dt>Season:</dt>
    <dd><input type="number" name="input" ng-model="character.Season" min="1" max="10" required></dd>
    <dt>Chapter:</dt>
    <dd><input type="number" name="input" ng-model="character.Chapter" min="1" max="30" required></dd>
  </dl>
</div>
<div ng-show="newCharacter">
  <a ng-click="addNewCharacter()">Add</a>
</div>
<div ng-hide="newCharacter">
  <a ng-click="updateCharacter()">Update</a>
</div>
</form>
<a href="#/characters">Cancel</a>
