<h2>Character Detail</h2>
<form name="characterForm">
<div>
  <dl>
    <dt>Name:</dt>
<!--    <dd>{{character.Name}}</dd>-->
    <dd><input type="text" name="input" ng-model="character.Name" ng-pattern="example.word" required ng-trim="false"></dd>
    <dt>Season:</dt>
    <dd><input type="number" name="input" ng-model="character.Season" min="1" max="10" required></dd>
    <dt>Chapter:</dt>
    <dd><input type="number" name="input" ng-model="character.Chapter" min="1" max="30" required></dd>
  </dl>
</div>
<p>
  <a class="btn btn-info" ng-click="addNewCharacter()" ng-show="newCharacter" style="margin: 10px;">Add</a>
  <a class="btn btn-info" ng-click="updateCharacter()" ng-hide="newCharacter" style="margin: 10px;">Update</a>
  <a class="btn btn-info" href="#/characters" style="margin: 10px;">Cancel</a>
</p>
</form>
<div ng-hide="newCharacter">
  <div><h2>{{title}} in Wikipedia</h2>
  <div>
    <img src="{{img.source}}" height="{{img.height}}" width="{{img.width}}" style="float:left;padding:10px">
    <div ng-bind-html="extractHtml"></div>
  </div>
</div>
